body{
background-color:pink ;
}
hr{
  border-color: red;
  border-width: 1px;
  width: 100%;
}
h1{
  color:blue;
}
h3{
  color:red;
}
h2{
  color:red;
}
div{
  margin-left: 100px;
}
